<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <p>Hi {{participantFirstName}},</p>
        <p>You payment for {{courseName}} in {{location}}, on {{startDate}}, from {{timeslot}} has been confirmed.</p>
        <p> You can consider this email as your registration proof.</p>
        <a href="#">Insert frontend link to event.</a>
        <p> See you soon!</p>
        <p> Royal Aerial Dance School </p>
    </body>
</html>